#footer{
	background: black;
	padding: 10px 0;
	margin-top: 50px;
	ul{
		@include reset-list;
		text-align: center;
		li{
			@include inline-block;
			margin: 0 10px;
			a{
				color: white;
				text-transform: capitalize;
				font-size: 14px;
			}
		}
	}
}