.top-header{
	background: black;
	height: 26px;
	display: block;
	width: 100%;
	@include clearfix;

	.text-info{
		float: left;
		font-size: 12px;
		color: white;
		line-height: 2.2;
	}
	.socmed{
		float: right;
		a{
			padding: 4px 0;
			display: inline-block;
			margin-left: 20px;
		}
		i{
			color: white;
			font-size: 16px;
		}
	}
}

#site-logo{
	display: inline;
	float: left;
	margin: 10px 0;
	width: 197px;
	img{
		display: block;
		margin-top: 10px;
	}
}
.header-search{
	float: left;
	margin-left: 20px;
	.wrapper{
		padding: 15px 0;
	}
	#searchInput{
		height: 40px;
		border: none;
		background: #e1e1e1;
		padding: 10px 20px;
		width: 350px;
		float: left;
		color: #999999;
	}
	.select{
		margin-right: 10px;
	}
	.submit{
		border: none;
		margin: 0;
		padding: 12px 20px;
		color: #837a0f;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		margin-left: 20px;
	}
}





input[type=file]{
	position: relative;
	&:hover{
		&:before{
			content: "ukuran maksimal 100kb";
			position: absolute;
			padding: 5px 10px;
			background: #ded021;
			color: white;
			font-size: 12px;
			bottom: -100%;
		}
	}
}