#content{
	@include clearfix;
}

.thumbnail-cat{
	width: 70%;
	min-height: 300px;
	float: left;
}
.head-title{
	text-align: center;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		height: 2px;
		width: 100%;
		background: $darker-gray;
		left: 0;
		top: 32px;
		z-index: 0;
	}
}
.section-title{
	color: white;
	padding: 10px 20px;
	background: $darker-gray;
	@include inline-block;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	margin: 0;
	position: relative;
	z-index: 10;
	&:before{
		content: "";
		background: url(img/left-ribbon.png)no-repeat;
		width: 40px;
		height: 31px;
		position: absolute;
		left: -29px;
		top: 18px;
	}
	&:after{
		content: "";
		background: url(img/right-ribbon.png)no-repeat;
		width: 40px;
		height: 31px;
		position: absolute;
		right: -29px;
		top: 18px;
	}
}

.main-category{
	margin-top: 36px;
	ul{
		@include reset-list;
		li{
			@include inline-block;
			margin-right: 19px;
			margin-bottom: 19px;
			&:nth-child(4n){
				margin-right: 0;
			}
		}
	}
}

.sidebar{
	width: calc(30% - 30px);
	margin-left: 30px;
	float: left;
	.login{
		margin-top: 10px;
	}
	.button{
		@include border-radius(5px);
		padding-left: 40px;
		background: $orange url(img/plus.png)no-repeat 20px;
		display: block;
	}
	h3{
		@include font-size(16px);
		text-transform: uppercase;
		padding: 25px 0;
		display: block;
		text-align: center;
		color: white;
		line-height: 0;
		background: $gray;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		margin: 0;
	}
	#login{
		display: block;
		.white-bg{
			padding: 12px;
			padding-bottom: 10px;
			background: white;
			margin: 0;
		}
		.input{
			background: #e1e1e1;
			border: 1px solid #999999;
			padding: 7px 10px;
			display: block;
			width: 100%;
			margin-bottom: 10px;
			padding-left: 50px;
		}
		.username{
			background: #e1e1e1 url(img/username.jpg)no-repeat left;
		}
		.password{
			background: #e1e1e1 url(img/password.jpg)no-repeat left;
		}
		.signin{
			background: #e1e1e1;
			padding: 12px;
			margin: 0;
			input[type=submit]{
				display: block;
				background: $yellow;
				color: #837a0f;
				border: none;
				width: 100%;
				font-size: 14px;
				padding: 10px;
				text-transform: capitalize;
				font-weight: 700;
			}
		}
		.register{
			background: #d3d1d1;
			padding: 12px;
			margin: 0;
			.create-account{
				color: $gray;
				text-align: center;
				display: block;
				font-size: 14px;
				text-decoration: underline;
				margin-bottom: 10px;
			}
			.button{
				padding: 7px 10px;
				padding-left: 0;
				text-transform: capitalize;
				text-align: center;
				background: $orange url(img/register.png)no-repeat 70px;
				text-indent: 20px;
				@include border-radius(0);
			}
		}
	}
}



#content{
	@include clearfix;
}

.thumbnail-cat{
	width: 70%;
	min-height: 300px;
	float: left;
}
.head-title{
	text-align: center;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		height: 2px;
		width: 100%;
		background: $darker-gray;
		left: 0;
		top: 32px;
		z-index: 0;
	}
}
.section-title{
	color: white;
	padding: 10px 20px;
	background: $darker-gray;
	@include inline-block;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	margin: 0;
	position: relative;
	z-index: 10;
	&:before{
		content: "";
		background: url(img/left-ribbon.png)no-repeat;
		width: 40px;
		height: 31px;
		position: absolute;
		left: -29px;
		top: 18px;
	}
	&:after{
		content: "";
		background: url(img/right-ribbon.png)no-repeat;
		width: 40px;
		height: 31px;
		position: absolute;
		right: -29px;
		top: 18px;
	}
}

.main-category{
	margin-top: 36px;
	ul{
		@include reset-list;
		li{
			@include inline-block;
			margin-right: 19px;
			margin-bottom: 19px;
			&:nth-child(4n){
				margin-right: 0;
			}
		}
	}
}

.sidebar{
	width: calc(30% - 30px);
	margin-left: 30px;
	float: left;
	.login{
		margin-top: 10px;
	}
	.button{
		@include border-radius(5px);
		padding-left: 40px;
		background: $orange url(img/plus.png)no-repeat 20px;
		display: block;
		text-align: center;
	}
	h3{
		@include font-size(16px);
		text-transform: uppercase;
		padding: 25px 0;
		display: block;
		text-align: center;
		color: white;
		line-height: 0;
		background: $gray;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		margin: 0;
	}
	
}
#login{
	display: block;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	.white-bg{
		padding: 12px;
		padding-bottom: 10px;
		background: white;
		margin: 0;
	}
	.input{
		background: #e1e1e1;
		border: 1px solid #999999;
		padding: 7px 10px;
		display: block;
		width: 100%;
		margin-bottom: 10px;
		padding-left: 50px;
	}
	.username{
		background: #e1e1e1 url(img/username.jpg)no-repeat left;
	}
	.password{
		background: #e1e1e1 url(img/password.jpg)no-repeat left;
	}
	.signin{
		background: #e1e1e1;
		padding: 12px;
		margin: 0;
		input[type=submit]{
			display: block;
			background: $yellow;
			color: #837a0f;
			border: none;
			width: 100%;
			font-size: 14px;
			padding: 10px;
			text-transform: capitalize;
			font-weight: 700;
		}
	}
	.register{
		background: #d3d1d1;
		padding: 12px;
		margin: 0;
		.create-account{
			color: $gray;
			text-align: center;
			display: block;
			font-size: 14px;
			text-decoration: underline;
			margin-bottom: 10px;
		}
		.button{
			padding: 7px 10px;
			padding-left: 0;
			text-transform: capitalize;
			text-align: center;
			background: $orange url(img/register.png)no-repeat 70px;
			text-indent: 20px;
			@include border-radius(0);
		}
	}
}

 
.latest-sales{
	margin-top: 50px;
	.slider-product{
		padding: 0 60px;
		box-sizing: border-box;
		margin-top: 40px;
		position: relative;
		.thumbnail-product{
			float: left;
		}
		.owl-controls{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			.owl-buttons{
				height: 100%;
				@include clearfix;
				.owl-prev{
					float: left;
					@include hide-text;
					width: 60px;
					height: 100%;
					background: $darker-gray url(img/prev.png)no-repeat center;
				}
				.owl-next{
					@include hide-text;
					float: right;
					width: 60px;
					height: 100%;
					background: $darker-gray url(img/next.png)no-repeat center;
				}
			}
		}
	}
}


.products{

}
.category-head{
	display: block;
	background: $darker-gray;
	@include border-radius(5px);
	padding: 10px 20px;
	text-transform: capitalize;
	@include clearfix;
	.breadcrumbs{
		float: left;
		.trail-begin,
		.trail-end,
		.sep{
			@include font-size(14px);
			color: #cccccc;
			display: inline;
		}
		.trail-current{
			display: block;
			@include font-size(24px);
			color: white;
		}
	}
	.sub-category{
		float: left;
		margin-left: 30px;
		ul{
			@include reset-list;
			max-width: 460px;
			li{
				@include inline-block;
				margin-right: 20px;
				a{
					color: $yellow;
					font-weight: 700;
					@include font-size(14px);

				}
			}
		}
	}
}

.detail-sorter{
	@include clearfix;
	@include border-radius(5px);
	padding: 15px 20px;
	display: block;
	background: #e1e1e1;
	margin-top: 10px;
	.sorter-selects{
		float: left;
		width: calc(100% - 120px);
	}
	.select{
		height: 30px;
		line-height: 14px;
		@include border-radius(5px);
		width: 180px;
		float: none;
		@include inline-block;
		margin: 5px 0;
		margin-right: 20px;
	}
	.select-styled{
		@include border-radius(5px);
		width: 150px;
		&:after{
			height: 30px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
	.select-options{
		width: 180px;
		margin-top: 15px;
	}
	.submit{
		float: right;
		width: 100px;
		height: 100%;
		border: none;
		@include border-radius(5px);
		font-size: 16px;
		color: #837a0f;
		text-transform: capitalize;
	}
}


.products-head{
	margin-top: 50px;
	border-bottom: 1px solid #999999;
	padding-bottom: 10px;
	@include clearfix;
	.view{
		float: left;
		display: inline;
		span{
			padding: 5px;
			padding-bottom: 2px;
			display: inline-block;
			border: 2px solid $darker-gray;
			@include border-radius(5px);
			cursor: pointer;
			margin-right: 5px;
			i{
				font-size: 20px;
				color: $darker-gray;
			}
			&:hover{
				background: $darker-gray;
				i{
					color: white;
				}
			}
		}
	}
	.select{
		height: 30px;
		line-height: 14px;
		@include border-radius(5px);
		width: 180px;
		float: right;
		@include inline-block;
		margin: 0;
	}
	.select-styled{
		@include border-radius(5px);
		width: 150px;
		&:after{
			height: 30px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
	.select-options{
		width: 180px;
		margin-top: 15px;
	}
}

.view-active{
	background: $darker-gray;
	i{
		color: $yellow !important;
	}
}
.catalog-products{
	@include clearfix;
	margin-top: 50px;
	@include transition(.3s);
	.view-thumbnail{
		@include reset-list;
		li{
			float: left;
			width: calc(25% - 15px);
			margin-right: 20px;
			margin-bottom: 20px;
			background: $darker-gray;
			&:nth-child(4n){
				margin-right: 0;
			}
			figure{
				width: 100%;
				// height: 150px;
				overflow: hidden;
			}
			.summary{
				padding: 10px;
				display: block;
				background: #eeeeee;
			}
			.product-title{
				display: block;
				font-size: 14px;
				color: black;
				height: 32px;
				overflow: hidden;
			}
			.detail-summary{
				@include clearfix;
				display: block;
				margin-top: 10px;
				.price{
					display: inline;
					float: left;
					font-size: 14px;
					font-weight: 700;
					color: black;
				}
				.status{
					display: inline;
					float: right;
					font-size: 12px;
					font-weight: 400;
					color: black;
					text-transform: capitalize;
					padding-left: 24px;
					background: url(img/status-badge.png)no-repeat left;
				}
			}
			.footer-summary{
				@include clearfix;
				display: block;
				padding: 5px 10px;
				background: $yellow;
				.update,
				.location{
					font-size: 10px;
					color: black;
					display: inline;
					float: left;
					text-transform: capitalize;
				}
				.location{
					float: right;
				}
				i{
					font-size: 14px;
					margin-right: 5px;
				}
			}
		}
	}
	
}
.view-list{
	@include reset-list;
	li{
		padding: 20px;
		display: block;
		background: white;
		@include clearfix;
		margin-bottom: 20px;
		position: relative;
		padding: 10px;
		background: white;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
		@include border-radius(5px);
		figure{
			float: left;
			margin-right: 20px;
			img{
				@include border-radius(5px);
			}
		}
		.summary{
			float: left;
			width: 500px;
			.product-title{
				color: black;
				font-size: 28px;
			}
			.detail-summary{
				margin-top: 20px;
				span{
					display: inline-block;
				}
				.price{
					color: black;
					font-weight: 700;
					font-size: 16px;
				}
				.status{
					font-size: 16px;
					font-weight: 400;
					color: black;
					text-transform: capitalize;
					padding-left: 24px;
					margin-left: 20px;
					background: url(img/status-badge.png)no-repeat left;
				}
			}
		}
		.footer-summary{
			color: #837a0f;
			font-weight: 400;
			font-size: 16px;
			background: #ded021;
			top: 10px;
			right: 0;
			float: left;
			position: absolute;
			display: block;
			padding: 10px 20px;
			margin-top: -10px;
			span{
				display: block;
				text-align: left;
			}
			.location{
				position: relative;
				margin-top: 10px;
				margin-left: 2px;
				margin-right: 5px;
				i{
					margin-right: 8px;
				}
			}
		}
	}
}

.paging{
	display: block;
	float: right;
	a,
	.hellip,
	.current{
		@include inline-block;
		padding: 10px;
		background: black;
		color: white;
		font-size: 14px;
		font-weight: 700;
		line-height: 0.45;
		&:hover{
			color: $yellow;
		}
	}
	.prev,
	.next{
		@include hide-text;
		@include inline-block;
		padding: 0;
		width: 26px;
		height: 26px;
	}
	.prev{
		background: black url(img/pagin-prev.png)no-repeat center;
	}
	.next{
		background: black url(img/pagin-next.png)no-repeat center;
	}
	.current{
		background: #999999;
		color: black;
	}
}

#super-sales {
    margin-top: 81px;
    position: relative;
    max-width: 100%;
    width: 100%;

}
.pin-grid{
	@include reset-list;
}
.pin-grid li{
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    padding: 10px;
    @include box-sizing(border-box);
	figure{
		width: 100%;
		height: 150px;
		overflow: hidden;
	}
	.summary{
		padding: 10px;
		display: block;
		background: #eeeeee;
	}
	.product-title{
		display: block;
		font-size: 14px;
		color: black;
	}
	.detail-summary{
		@include clearfix;
		display: block;
		margin-top: 10px;
		.price{
			display: block;
			font-size: 14px;
			font-weight: 700;
			color: black;
		}
		.status{
			display: block;
			font-size: 12px;
			font-weight: 400;
			color: black;
			text-transform: capitalize;
			padding-left: 24px;
			background: url(img/status-badge.png)no-repeat left;
			margin-top: 10px;
		}
	}
	.footer-summary{
		@include clearfix;
		display: block;
		padding: 5px 10px;
		background: $yellow;
		.update,
		.location{
			font-size: 10px;
			color: black;
			display: inline;
			float: left;
			text-transform: capitalize;
		}
		.location{
			float: right;
		}
		i{
			font-size: 14px;
			margin-right: 5px;
		}
	}
	img {
	    width: 100%;
	    max-width: 100%;
	    height: auto;
	}
}

.pin-grid h1 {
    font-size: 1em;
}
.pin-grid h1 a {
    color: #A92733;
}
.pin-grid li:hover {
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.single-detail{
	margin-top: 30px;
	.summary{
		padding-left: 35px;
		@include box-sizing(border-box);
		min-height: 300px;
		.button{
			margin-top: 10px;
			@include inline-block;
			color: #837a0f;
			text-transform: capitalize;
			padding-left: 40px;
			background: #ded021 url(img/tlp.png)no-repeat 10px;
		}
		.breadcrumbs{
			color: $darker-gray;
			text-transform: capitalize;
			a{
				text-transform: capitalize;
				color: #999999;
				font-size: 15px;
			}
		}
		.product-title{
			display: block;
			font-size: 26px;
			color: black;
			font-weight: 700;
			margin-top: 10px;
		}
		.price{
			padding: 10px;
			background: $yellow;
			color: white;
			font-size: 22px;
			display: inline-block;
			font-weight: 700;
			position: relative;
			margin: 10px 0;
			&:before{
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 24px 24px 24px 0;
				border-color: transparent #ded021 transparent transparent;
				position: absolute;
				top: 0;
				left: -23px;
			}
		}
		
		.ad-detail{
			padding: 20px 0;
			border-bottom: 1px solid black;
			span{
				display: block;
				text-transform: capitalize;
				margin: 5px 0;
				font-size: 14px;
				i{
					color: $darker-gray;
					font-size: 16px;
				}
			}
			.fa-map-marker{
				margin-left: 2px;
				margin-right: 7px;
			}
			.product-id{
				font-size: 14px;
				padding-left: 20px;
				background: url(img/id.png)no-repeat left;
			}
		}
	}
}
.seller-profile{
	@include clearfix;
	.avatar{
		float: left;
		width: 70px;
		height:	70px;
		img{
			@include border-radius(5px);
		}
	}
	.about-seller{
		float: left;
		margin-left: 18px;
		display: block;
		width: calc(100% - 88px);
		.name{
			color: black;
			display: block;
			font-weight: 700;
			padding-bottom: 5px;
			border-bottom: 1px solid black;
			text-transform: capitalize;
		}
		.location{
			color: #666666;
			font-size: 14px;
			text-transform: capitalize;
			display: block;
			margin-top: 5px;
		}
		.since{
			color: #ff4800;
			font-weight: 700;
			text-transform: capitalize;
			font-size: 14px;
			margin-top: 5px;
			span{
				font-weight: 400;
			}
		}
	}
}

.description{
	padding: 20px;
	@include box-sizing(border-box);
	background: #e9e9e9;
}


.related{
	color: $darker-gray;
	font-size: 24px;
	text-transform: capitalize;
	h3{
		margin-bottom: 0;
	}
	.catalog-products {
		margin-top: 10px;
	}
}


.register-form,
.iklan-form,
.edit-profile-form{
	display: block;
	width: 550px;
	margin: 30px auto;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
	.button{
		border: none;
		padding-left: 50px;
		padding-right: 50px;
		display: inline-block;
		margin: 20px 40px;
		width: 300px;
	}
	label{
		text-transform: capitalize;
		font-weight: 700;
		font-size: 14px;
	}
	.row-fluid{
		margin-top: 20px;
		padding: 0 40px;
		@include box-sizing(border-box);
	}
	.control-label{
		width: 140px;
		float: left;
		padding-top: 8px;
		text-align: left;
		font-size: 13px;
	}
	.controls{
		margin-left: 160px;
	}
	.input-text{
		width: 	100%;
	}
	.radio{
		.control-label{
			padding-top: 0 !important;
			margin-right: 30px;
		}
		input {
	    	display:none;
		}
		label{
			display: inline-block;
			margin-right: 20px;
		}
		label span{
			@include transition(.3s ease-out);
			position: relative;
			&:before{
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform (translate(-50%, -50%) scale(2));
				width: 8px;
				height: 8px;
				background: #3ec2da;
				@include border-radius(50%);
				opacity: 0;
				@include transition(.3s ease-out );
			}
		}
		
		input + label span {
			content:"";
			display: inline-block;
			width: 14px;
			height: 14px;
			@include border-radius(50%);
			margin: -1px 4px 0 0;
			vertical-align: middle;
			cursor: pointer;
			background: #c5d0d2;
			border: 2px solid #c5d0d2;
	    	box-shadow:  0px 1px 3px rgba(0,0,0,0.7);


		}
		input[type="radio"] + label span { 
			background-position:left top;
		}
		input[type="radio"]:checked + label span { 
			border: 2px solid $yellow;
			background: white;
			box-shadow: none;
	    	&:before{
	    		opacity: 1;
				@include transform (translate(-50%, -50%) scale(1));
				background: $yellow;
	    	}
		}
	}
	.chck{
		display: block;
		label span{
			@include transition(.3s ease-out);
			position: relative;
			&:before{
				content: "";
				background: url(img/chck.png) no-repeat;
				background-size: 20px;
				position: absolute;
				top: 6px;
				left: 1px;
				width: 20px;
				height: 20px;
				opacity: 0;
				@include transition(.3s ease-out);
			}
		}
		input {
	    	display:none;
		}
		input + label span {
			content:"";
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: -1px 4px 0 0;
			vertical-align: middle;
			cursor: pointer;
			background: #c5d0d2;
	    	box-shadow:  0px 1px 3px rgba(0,0,0,0.7);
		}
		input[type="checkbox"] + label span { 
			background-position:left top;
		}
		input[type="checkbox"]:checked + label span { 
	    	box-shadow: inset 0px 0px 32px white;
	    	&:before{
	    		opacity: 1;
				top: -1px;

	    	}
		}
		small{
			font-size: 12px;
			color: $darker-gray;
			a{
				color: $yellow;
			}
		}
	}
}
.edit-profile-form{
	box-shadow: none;
}


.profile-page{
	.col-4{
		width: 190px;
	}
	.col-8{
		width: 770px;
		margin-left: 0;
	}
	.edit-profile{
		.row{
			@include clearfix;
			margin-top: 10px;
		}
		.col-left{
			width: 230px;
			float: left;
			background: #e1e1e1;
			padding: 20px;
			@include border-radius(5px);
			@include box-sizing(border-box);
			
		}
		.col-right{
			width: 500px;
			float: right;
		}
		#dropzone{
			p{
				font-size: 12px;
				font-weight: 600;
			}
		}
		.dropzone {
			position: relative;
			width: 190px;
			height: 190px;
			min-height: 0;
			border: 5px dashed #CECECE;
			background: #E7E7E7;
			@include border-radius(5px);
			padding: 0;
			.dz-default.dz-message{
				position: absolute;
				width: 140px;
				height: 60px;
				top: 50%;
				left: 50%;
				margin-top: -30px;
				margin-left: -70px;
				text-align: center;
				font-weight: 700;
			}
		}
		.edit-profile-form{
			.button{
				border: none;
				padding-left: 50px;
				padding-right: 50px;
				display: inline-block;
				margin: 20px 0;
			}
			label{
				text-transform: capitalize;
				font-weight: 700;
				font-size: 14px;
			}
			.row-fluid{
				margin-top: 20px;
				padding: 0;
				@include box-sizing(border-box);
			}
			.control-label{
				width: 160px;
				float: left;
				padding-top: 8px;
				text-align: left;
				font-size: 13px;
			}
			.controls{
				margin-left: 160px;
			}
			.input-text{
				width: 	310px;
			}
		}
	}
	.profile-options{
		margin-top: 30px;
		.active{
			background-color: white;
		}
		ul{
			@include reset-list;
			li{
				display: block;
				border-bottom: 1px solid #837a0f;
				background: $yellow;
				a{
					padding: 10px 25px;
					display: block;
					color: #837a0f;
					font-size: 14px;
					text-transform: capitalize;
					font-weight: 700;
				}
				i{
					padding-right: 10px;
				}
				.fa-clock-o,
				.fa-sign-out{
					padding-right: 14px;
				}
				&:hover{
					background: white;
					.sub-menu{
						display: block;
					}
				}
			}
			.sub-menu{
				display: none;
				li{
					background: white;
					a{
						padding-left: 45px;
					}
				}
			}
			.sub-menu.active{
				background-color: white;
				display: block;
			}
		}
	}
}

// .active{
// 	display: block !important;
// 	background: white !important;
// }

.iklan-saya{
	.view-list li .summary{
		width: 370px;
	}
	.status-iklan{
		position: absolute;
		padding: 20px;
		background: $yellow;
		color: #837a0f;
		top: 0;
		right: 0;
		text-transform: capitalize;
	}
	.edit-iklan{
		position: absolute;
		bottom: 20px;
		right: 20px;
		font-weight: 700;
		color: $darker-gray;
		text-transform: capitalize;
		text-decoration: underline;
	}
	.detail-summary,
	.footer-summary{
		span{
			display: block !important;
			float: none !important;
			
		}
		.status{
			margin-top: 10px !important;
		}
	}
	.view-list li .summary .detail-summary .status{
		margin-left: 0;
	}
	 
}
.history-iklan{
	.view-list li .summary{
		width: 370px;
	}
	.status-iklan{
		position: absolute;
		padding: 20px;
		background: $yellow;
		color: #837a0f;
		top: 0;
		right: 0;
		text-transform: uppercase;
	}
	
}
.tanggal-terjual{
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-weight: 700;
	color: $darker-gray;
	text-transform: capitalize;
}

.sold-item{
	.view-thumbnail{
		.tanggal-terjual{
			display: none;	
		}
		.status-iklan{
			display: none;	
		}
	}
}
.uploader{
	input[type=file] {
		width: 190px;
		height: 190px;
		border: 5px dashed #bfbfbf;
		@include box-sizing(border-box);
		@include hide-text;
		color: transparent;
		cursor: pointer;
		position: relative;
		&:before{
			content: "Klik disini untuk upload photo kamu";
			color: $darker-gray;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			width: 160px;
			height: 32px;
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%, -50%);
			text-indent: 0;
		}
	}
	.button{
		margin-top: 20px;
		display: block;
		font-size: 14px;
		border: none;
		width: 100%;
	}
	.instuction{
		color: #9a9a9a;
		font-size: 12px;
		font-weight: bold;
	}
}
.profile-picture{
	width: 190px;
	height: 190px;
	border: 5px dashed #bfbfbf;
	@include box-sizing(border-box);
	color: $darker-gray;
	text-align: center;

}


.pasang-iklan{
	@include clearfix;
	.copy-iklan{
		font-size: 14px;
		color: #666666;
	}
	.detail-iklan{
		min-height: 300px;
		width: 50%;
		padding-right: 20px;
		@include box-sizing(border-box);
		.iklan-form{
			box-shadow: none;
			width: 100%;
			margin: 0;
			.control-label{
				font-size: 14px;
			}
			.row-fluid{
				padding: 0;
			}
			.textarea{
				overflow-x: hidden;
			}
			h3{
				font-size: 18px;
				font-weight: bold;
				color: #666666;
				margin: 0;
				margin-right: 10px;
				float: left;
				margin-top: 10px;
			}
			.harga{
				float: right;
				width: 270px;
			}
			.select-options{
				height: auto;
				max-height: 200px;
			}
			.deskripsi-iklan,
			.text-editor{
				display: block;
				float: none;
			}
		}
	}
	.iklan-images{
		padding-left: 20px;
		@include box-sizing(border-box);
		h2{
			text-transform: capitalize;
		}
		p{
			font-size: 12px;
			color: #333333;
			text-align: center;
		}
		.uploader{
			input[type=file]{
				@include inline-block;
				margin: 6px 4px;
				width: 145px;
				height: 145px;
				background-color: #e1e1e1;
				border: none;
				&:before{
					content: "+";
					font-size: 50px;
					width: 100%;
					height: 60px;
					color: #bdbab4;
				}
			}
		}
	}
}

.iklan-action{
	text-align: center;
	margin-top: 40px;
	.submit{
		border: none;
		padding: 16px 30px;
		@include inline-block;
		text-transform: capitalize;
		@include transition(.3s ease-out);
		background-position: center right 20px;
	}
}

.profile-seller{
	margin: 20px 0;
	.seller-profile {
		@include clearfix;
		.avatar{
			width: 100px;
			height: 100px;
		}
		.about-seller{
			width: calc(100% - 118px);
			margin-top: 5px;
			position: relative;
			.name{
				font-size: 26px;
			}
			.location{
				font-size: 18px;
			}
			.since{
				font-size: 18px;
			}
			.testi-trigger{
				position: absolute;
				top: 7px;
				right: 7px;
				font-weight: 800;
				color: #837a0f;
			}

		}
	
	}
	.iklan-seller{
		margin-top: 50px;
		
	}
}

.tabs-wrap{
	.panel{
		border: 1px solid #DDD;
		padding: 20px;
	}
	.products-head{
		margin-top: 0;
	}
	.products{
		@include clearfix;
	}
	input, section {
		clear: both;
		padding-top: 10px;
		display: none;
	}
	label {
		font-weight: bold;
		font-size: 14px;
		display: block;
		float: left;
		padding: 10px 30px;
		border-top: 2px solid transparent;
		border-right: 1px solid transparent;
		border-left: 1px solid transparent;
	}
	label:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 {
		display: block;
	}
	input:checked + label {
		border-top-color: #FFB03D;
		border-right-color: #DDD;
		border-left-color: #DDD;
		border-bottom-color: transparent;
		text-decoration: none;
	}
}

	

.alert{
	line-height: 100px;
	font-size: 24px;
	.button{  
		float:left;
		width:200px;
		padding:20px 30px;
		margin:30px;
		text-align:center;
		font-weight:bold;
		cursor:pointer;
		transition:background .5s;
	}

	#success{
		background:$yellow;
		color:#f0f0f0;  
	}

	#failure{
		background:#ff3939;
		color:#f0f0f0;  
	}

	.notify{  
		position:absolute;
		top:0;
		left: 0;
		width:100%;
		height:0;  
		box-sizing:border-box;
		color:white;  
		text-align:center;
		background:rgba(0,0,0,.6);
		overflow:hidden;
		box-sizing:border-box;
		transition:height .2s;
		color: white;
	}

	#notifyType:before{
		display:block;
		font-size: 24px;
		height: 28px;
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
		line-height: 1;
		color: $yellow;
	}

	.active{  
		height:100px;
	}

}


.deskripsi-label{
	display: block !important;
	float: none !important;
}
.text-editor{
	display: block !important;
	margin: 20px 0 !important; 
}


.star-rating{
	background: url(img/star.png) 0 -26px;
	height: 15px;
	display: block;
	width: 70px;
	text-indent: -9999px;
	margin: auto;
	position: absolute;
	top: 10px;
	right: 0;
	& > span {
		display: block;
		background: url("img/star.png") 0 0;
		display: block;
		height: 16px;
		text-indent: -999em;
	}
}

.kategori-iklan{
	width: 980px;
	height: 400px;
	position: fixed;
	left: 50%;
	top: 50%;
	background: #333333;
	@include clearfix;
	@include border-radius(4px);
	margin-left: -490px;
	margin-top: -200px;
	z-index: 10000;
	@include box-sizing(border-box);
	padding: 25px;
	box-shadow: 1px 6px 10px rgba(0,0,0,0.9);
	.col-4 {
		width: 33.33%;
		float: left;
		background: #333333;
		min-height: 100%;
		padding:20px;
		@include box-sizing(border-box);
	}
	.category-level1,
	.category-level2,
	.category-level3{
		width: 100%;
		background: #666666;
		@include reset-list;
		height: 100%;
		li{
			padding: 10px;
			display: block;
			a{
				color: white;
				font-weight: bold;
				text-transform: capitalize;
				display: block;
				&:hover{
					color: #ded021;
				}
			}
		}
	}
}
.close{
	position: absolute;
	top: -20px;
	right: -20px;
	display: inline-block;
	background: url(img/close.png)no-repeat;
	background-size: 40px;
	width: 40px;
	height: 40px;
}
.closed{
	@include animation(bounceOutDown 1s ease-in forwards);
}
.opened{
	@include animation(bounceInDown 1s ease-in forwards);
}
.pilih-kategori{
	font-size: 14px;
	text-transform: capitalize;
	color: #666666;
	font-weight: bold;
	display: inline-block;
	margin: 10px 0;
}



.login-signup-wrapper{
	margin-top: 50px;
	.login{
		float: left;
		width: 30%;
		h3{
			background: #666666;
			padding: 10px;
			color: white;
			font-size: 15px;
			text-transform: uppercase;
			margin: 0;
			padding: 20px;
		}
	}

}

.sign-up{
	min-height: 600px;
	float: left;
	width: 70%;
	padding-left: 30px;
	@include box-sizing(border-box);
	.register-form{
		width: 100%;
		margin: 0;
		box-shadow: none;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	}
	.head-title{
		background: $gray;
		padding: 10px;
		&:before{
			display: none;
		}
	}
	.section-title{
		background: none;
		&:before,
		&:after{
			display: none;
		}
	}
}

.entry-content{
	min-height: 400px;
	margin-top: 50px;
}

.contact{
	margin-top: 50px;
}
#contact{
	margin-top: 50px;
	.input-text{
		width: 50%;
	}
	select, input[type="email"], input[type="password"], input[type="search"], input[type="text"], input[type="url"], input[class*="text"]{
		width: 50%;

	}
	.row-fluid{
		margin-bottom: 20px;
	}
}

.page-template{
	margin-top: 50px;
}