
@media only screen 
and (max-width : 1024px)  {
	.container {
		width: 100%;
	}
}

@media only screen 
and (max-width : 768px)  {
	.col-2{
		width: 100%;
	}
	.pull-left{
		float: none;
	}
	.single-detail .summary{
		padding-left: 0;
		margin-top: 50px;
		.price:before{
			display: none;
		}
		.ad-detail span{
			@include inline-block;
			margin-right: 5%;
		}
	}
	.breadcrumbs,
	.related{
		display: none;
	}
	.container{
		width: 95%;
	}
	.thumbnail-cat{
		width: 100%;
		float: none;
	}
	.main-category{
		@include clearfix;
	}
	.sidebar {
		width: 80%;
		margin-left: 0;
		float: none;
		margin: auto;
	}
	.main-category ul {
		width: 100%;
		margin: auto;
		li{
			display: inline;
			float: left ;
			margin-right: 32px;
			margin-bottom: 26px;
		}
	}
	#site-logo {
		display: block;
		float: none;
		margin: 0;
		width: 197px;
		margin: 20px auto;
	}
	.header-search {
		float: none;
		margin-left: 0;
		@include box-sizing(border-box);
	}
	.header-search #searchInput {
		width: 100%;
		float: none;
	}
	.select {
		width: 40%;
		margin-right: 0 !important;
	}
	

	.select-styled {
		padding: 8px 0;
		padding-left: 10px;
		width: calc(100% - 10px) !important;
	}
	#search{
		@include clearfix;
		position: relative;
	}
	.header-search .submit{
		float: right;
		margin-left: 0;
		width: 20%;
		padding: 12px 0 !important;
	}
	.view-list li .summary {
		float: left;
		width: 100%;
	}
	.pasang-iklan .detail-iklan{
		min-height: 300px;
		width: 100%;
		padding-right: 0;
	}
	.kategori-iklan{
		width: 90%;
		margin-left: 0;
		margin-top: 0;
		position: absolute;
		left: 5%;
		top: 50px;
		padding: 0;
	}
	.iklan-action{
		margin-left: 0 !important;
		width: 100% !important;
		margin-top: 0 !important;
	}
	.pasang-iklan .iklan-images{
		padding: 0;
	}
	.edit-profile{
		.head-title{
			margin-bottom: 50px;
		}
	}
	.profile-page .edit-profile .col-left{
		float: none;
		width: 100%;
	}
	.avatar img{
		display: block;
		margin: auto;
	}
	.profile-page .edit-profile .edit-profile-form .input-text {
		width: 100%;
	}
	.login-signup-wrapper .login{
		width: 100%;
		float: none;
		margin-bottom: 25px;
	}
	.sign-up {
		margin-top: 25px;
		float: none;
		width: 100%;
		padding-left: 0;
	}
	.profile-page .col-4 {
		width: 100%;
		margin-bottom: 20px;
		float: none;
	}
	.kategori-iklan .col-4{
		float: none;
		width: 100%;
	}
}


@media only screen 
and (max-width : 720px)  {
	.main-category ul li{
		margin-right: 17px;
		margin-bottom: 14px;
	}
	.catalog-products .view-thumbnail li {
		float: left;
		width: 50%;
		margin-right: 0;
		padding: 0 10px;
		margin-bottom: 20px;
		@include box-sizing(border-box);
		background: none;
		img{
			width: 100%;
		}
		.product-title{
			height: auto;
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}


@media only screen 
and (max-width : 640px)  {
	.main-category ul li {
		margin-right: 10px;
		margin-bottom: 10px;
		width: 140px;
	}
	.register-form, .iklan-form, .edit-profile-form{
		width: 100%;
	}
	.register-form .control-label, .iklan-form .control-label, .edit-profile-form .control-label {
		width: 140px;
		float: none;
		display: block;
	}
	.register-form .controls, .iklan-form .controls, .edit-profile-form .controls{
		margin-left: 0;
	}
	.register-form .input-text, .iklan-form .input-text, .edit-profile-form .input-text {
		width: 100%;
	}
	.register-form .button, .iklan-form .button, .edit-profile-form .button {
		border: none;
		padding-left: 50px;
		padding-right: 50px;
		display: block;
		margin: 20px auto;
		width: 90%;
	}
	.register-form, .iklan-form, .edit-profile-form{
		width: 100%;
	}
	.register-form .controls, .iklan-form .controls, .edit-profile-form .controls{
		margin-left: 0;
	}
	.register-form .input-text, .iklan-form .input-text, .edit-profile-form .input-text {
		width: 100%;
	}
	.register-form .radio .control-label, .iklan-form .radio .control-label, .edit-profile-form .radio .control-label {
		padding-top: 0 !important;
		margin-right: 0;
		display: block;
		width: 100%;
	}
	.register-form .button, .iklan-form .button, .edit-profile-form .button {
		width: 200px;
	}
	
	.profile-page .col-8 {
		width: 100%;
		float: none !important;
	}
	.profile-page .edit-profile .col-right {
		width: 100%;
		float: none;
	}
	.profile-page .edit-profile .edit-profile-form .controls {
		margin-left: 0;
	}
}

@media only screen 
and (max-width : 480px)  {

	.main-category{
		padding-left: 30px;
		ul{
			@include reset-list;
			li{
				margin-right: 20px;
				margin-bottom: 20px;
				width: 180px;
				img{
					width: 100%;
				}
			}
		}
	}
	.detail-sorter .sorter-selects {
		float: none;
		width: 100%;
	}
	.detail-sorter .submit{
		float: none;
		height: 50px !important;
		width: 100%;
		margin-top: 20px;
	}
	.detail-sorter .select-options {
		width: 100%;
		margin-top: 0;
	}

}
@media only screen 
and (max-width : 360px)  {
	.detail-sorter .select{
		width: 100%;
	}
	.detail-sorter .select-styled{
		width: 100%;

	}
	.main-category{
		padding-left: 10px;
	}
	.main-category ul li {
		margin-right: 10px;
		margin-bottom: 10px;
		width: 147px;
	}
	.header-search .submit{
		top: 0;
		right: 0;
		position: absolute;
	}
	.select {
		width: 50%;
	}
	.sidebar{
		width: 100%;
	}
	.category-head{
		display: none;
	}
	.catalog-products .view-thumbnail li {
		float: none;
		width: 100%;
	}
}
@media only screen 
and (max-width : 320px)  {
	
	.main-category ul li {
		margin-right: 10px;
		margin-bottom: 10px;
		width: 130px;
	}
	
}