body{
	@include box-sizing(border-box);
	font-family: Helvetica,Arial,sans-serif;
}
.cl {
	@include clearfix;
}
.container{
	width: 1024px;
	margin: 0 auto;
	@include clearfix;
}
a{
	text-decoration: none;
}
hr{
	margin: 24px 0;
}
textarea:focus, input:focus{
    outline: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
	@include transition(all .3s ease-in-out);
    @include translate(100px, 0);
    color: #999999;
    opacity: 0;

}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row{
	@include clearfix;
}
.pull-left {
	@include float( left );
}
.pull-right {
	@include float( right );
}
.col-2{
	width: 50%;
}
.accessible-text {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.hide-text {
	@include hide-text;
}

.delay1{
	@include transition-delay(.4s);
}
.delay2{
	@include transition-delay(.8s);
}
.delay3{
	@include transition-delay(1.2s);
}

.center-block{
	display: block;
	margin: 0 auto;
}



.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}
.select {
	cursor: pointer;
	position: relative;
	font-size: 13px;
	width: 150px;
	height: 40px;
	float: left;
	text-transform: capitalize;
	color: white;
	font-weight: 700;
	line-height: 26px;
}
.select-styled {
	position: absolute; 
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #666666;
	padding: 8px 15px;
	@include transition(all 0.2s ease-in);
	width: 130px;
	&:after {
	content:"";
		width: 30px;
		height: 40px;
		position: absolute;
		top: 0;
		right: 0;
		background: #333333 url(img/select-arrow.png)no-repeat center center;
		@include transition(.3s ease-out);
	}
	&:active, &.active {
		&:after {
			background: #333333 url(img/select-arrow2.png)no-repeat center center;
		}
	}
}
.select-options {
	display: none; 
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 160px;
	background: #666666;
	height: 300px;
	li {
		margin: 0;
		padding: 12px;
		@include transition(all 0.15s ease-in);
		&:hover {
			background: #333333;
			color: #ded021;
		}
		&[rel="hide"] {
			display: none;
		}
	}
}

.button{
	padding: 16px;
	color: white;
	font-weight: 700;
	cursor: pointer;
}
.yellow{
	background: $yellow;
	border-bottom: 2px solid #b7ab1c;
	color: #837a0f;
}
.orange{
	background: $orange;
	border-bottom: 2px solid #a0360c;
}
.row-fluid{
	@include clearfix;
}
.input-text{
	background: #e1e1e1;
	padding: 10px;
	border: 2px solid transparent;
	@include border-radius(5px);
	@include transition(.3s);
	&:focus{
		border: 2px solid $yellow;
	}
}

.succeed{
	padding-right: 60px !important;
	background: #ded021 url(img/chck.png)no-repeat center right 20px;
	background-size: 24px;
}


@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}

@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    -ms-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}


@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

